<header>
    <nav class="nav">
        <h1>WorkFolio</h1>
        <div class="search">
            <form action="/search_results">
                <input type="text" name="query" placeholder="Search..."/>
                <input type="submit" value="Go"/>
            </form>
        </div>
        <ul class="nav-links">
            <li class="nav-item">
                <a class="nav-link" href="/home"><i class="fi fi-rr-house-chimney"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/latest_chat"><i class="fi fi-rr-comment-dots"></i></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/my_profile"><i class="fi fi-rr-user"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">
                    <button class="logout-btn">Log Out</button>
                </a>
            </li>
        </ul>
    </nav>
</header>