/* Chat container */
.chat {
    display: flex;
    padding: 20px;
    height: 100%;
    /*background-color: deeppink;*/
}

.chat-container {
    width: 60%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 550px;
}

/* Chat header */
.chat-header {
    background-color: #444444;
    color: #45d49d;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

/* Chat messages */
.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    word-wrap: break-word;
}

/* Individual messages */
.message {
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start; /* Align items to the top */
}

.message.user {
    justify-content: flex-end;
}

.message-content {
    margin: 0;
    padding: 5px;
    min-width: 100px;
    min-height: 50px;
    /*padding: 10px;*/
    border-radius: 10px;
    background-color: #dfdede;
    color: black;
    word-wrap: break-word;
    /*white-space: pre-wrap;*/
    display: inline-block;
    position: relative;
}

.message p {
    /* Example styles; adjust as needed */
    margin: 0;
    padding: 0;
}

.message-content a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #74d3af;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

.message-content img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 8px;
    /*max-width: 100%;*/
    /*max-height: 150px;*/
    object-fit: contain;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    /*border-radius: 5px;*/
}

.message.user .message-content {
    background-color: #74d3af;
    color: black;
}

/* Chat input area */
.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
}

.chat-input textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    max-height: 150px;
}

.chat-input input[type="file"] {
    display: none;
}

.chat-input button {
    padding: 10px;
    border: 1px solid #b5b4b4;
    background-color: #45d49d;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #39aa7f;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.custom-file-upload img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.custom-file-upload:hover {
    border-radius: 50%;
    background-color: #e4e4e4;
}

/* User container */
.user-container {
    width: 20%;
    min-width: 200px;
    background-color: #444444;
    color: white;
    border-radius: 8px;
    text-align: center;
    margin: 20px;
    padding: 50px 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile-picture img {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.profile-link {
    margin: 25px;
}

.profile-link img {
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

/* Name styling */
.name h1 {
    color: #45d49d;
    margin-bottom: 2px;
    font-size: 25px;
}

.name h3 {
    font-size: 16px;
    font-weight: lighter;
}

/* Chat sidebar */
.chat-sidebar {
    width: 20%;
    min-width: 150px;
    background-color: #444444;
    color: white;
    border-radius: 8px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.chat-sidebar-header {
    font-size: 18px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #45d49d;
    border-radius: 8px;
    margin-bottom: 10px;
}

.chat-sidebar-users {
    display: flex;
    flex-direction: column;
}

.chat-sidebar-user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-sidebar-user:hover {
    background-color: #555;
}

.chat-sidebar-user img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-sidebar-user-info {
    display: flex;
    flex-direction: column;
}

.chat-sidebar-user-name {
    font-size: 16px;
    font-weight: bold;
    color: #45d49d;
}

/* Scrollbar styles */
.chat-messages::-webkit-scrollbar {
    width: 18px;
}

.chat-messages::-webkit-scrollbar-track {
    background: #dfdcdc;
}

.chat-messages::-webkit-scrollbar-thumb {
    background: linear-gradient(#10bd87, #8bd2b3);
    border: 1px solid #555;
    border-radius: 10px;
}

/* Message timestamp */
.message-timestamp {
    font-size: smaller;
    color: #605f5f;
    position: absolute;
    bottom: 5px; /* Ensure timestamp is positioned at the bottom */
    right: 8px;
    margin-top: 5px; /* Adjust margin as needed */
}

/* Date header */
.date-header {
    text-align: center;
    color: #888;
    font-size: 14px;
    margin: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .chat {
        flex-direction: column;
    }

    .user-container {
        width: 90%;
    }

    .chat-container {
        width: 90%;
    }

    .chat-sidebar {
        width: 90%;
    }
}

footer {
    position: relative;
    bottom: -15em;
}
