
{% extends 'base.html' %}

{% block page_head %}
<title>Log In</title>
{%endblock%}

{% block main %}
<header>
    <h1>WorkFolio</h1>
</header>

<div class="container">
    <h1>Log in</h1>
    <form action="#" class="login-form">
        <div class="account-link">
            <span>New?</span> <a href="http://127.0.0.1:5000/signup">create an account</a>
        </div>
        <div class="form-group">
            <label class="email" for="email">Email</label>
            <input type="email" id="email" name="email"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
        </div>
        <div class="form-group remember">
            <label for="remember-me">Remember me</label>

            <input type="checkbox" id="remember-me" name="remember-me"/>
        </div>
        <button type="submit">Sign in</button>
    </form>
</div>
{%endblock%}