.name {
    margin-right: 10px;
    width: 600px;
}

.project-page {
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background-color: #222;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.user-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.user-container img {
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.user-container h1 {
    color: #45d49d;
    margin: 0;
}

.user-container h3 {
    color: white;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 10px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.social img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    filter: brightness(1.2);
    transition: filter 0.3s;
}

.social a:hover img {
    filter: brightness(1.3);
    transform: scale(1.1);
}

.project-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.project {
    overflow: hidden;
    width: 50%;
    background-color: #444444;
    padding: 20px;
    border-radius: 10%;
    box-sizing: border-box;
}

.project h2 {
    color: #45d49d;
}

.project img {
    width: 100%;
    border-radius: 10%;
    object-fit: cover;
    filter: brightness(1.1);
    transition: filter 0.3s, transform 0.3s;
}

.project a:hover img {
    filter: brightness(1.2);
    transform: scale(1.05);
}

.comments {
    width: 50%;
    margin: 20px;
    box-sizing: border-box;
}

.comments h3 {
    color: #45d49d;
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-form textarea {
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
}

.comment-form button {
    align-self: flex-end;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #45d49d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment-form button:hover {
    background-color: #36a785;
}

.comment-list {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.comment {
    display: flex;
    background-color: #333;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comments img {
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.comment-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.comment-time {
    font-weight: lighter;
    font-size: 12px;
    margin-top: 2px;
    color: #abadc7;
}

.user-name {
    font-weight: bold;
    margin-bottom: 2px;
}

.new-comment {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.like-container {
    width: 90px;
    display: flex;
    align-items: center;
    position: relative;
}

.like-button {
    width: 35px;
    height: 35px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.1s ease;
    filter: opacity(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 50%;
}

.like-button:hover {
    background-color: rgba(158, 156, 156, 0.18);
}

.like-button.pressed {
    filter: opacity(100%);
    transform: scale(0.9);
}

.like-count {
    font-size: 1.2rem;
}

.project-header {
    width: 300px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

/* Scrollbar Styles */
.comment-list::-webkit-scrollbar {
    width: 18px;
}

.comment-list::-webkit-scrollbar-track {
    background: #555;
}

.comment-list::-webkit-scrollbar-thumb {
    background: linear-gradient(#10bd87, #8bd2b3);
    border: 3px solid #555;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 770px) {
    .project-container {
        flex-direction: column;
    }

    .project,
    .comments {
        width: 100%;
        margin-bottom: 20px;
    }

    .social {
        justify-content: flex-start;
    }

    .user-container {
        justify-content: center;
        text-align: center;
    }

    .user-container img {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .project-page {
        padding: 20px;
    }

    .like-container {
        width: auto;
    }

    .like-count {
        font-size: 1rem;
    }
}

footer {
    position: relative;
    bottom: -5.4em;
}
