{% extends 'base.html' %}

{% block page_head %}
<title>Sign Up</title>
{% endblock %}

{% block main %}
<header>
    <h1>WorkFolio</h1>
</header>
<body>
<div class="container">
    <h1>Sign Up</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form class="signup-form" method="post" action="/signup">
       <div class="form-group">
            <label for="first_name">First name</label>
            <input type="text" id="first_name" name="first_name"/>
        </div>
        <div class="form-group">
            <label for="last_name">Last name</label>
            <input type="text" id="last_name" name="last_name"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email"/>
        </div>
        <div class="form-group">
            <label for="phone_number">Phone number</label>
            <input type="tel" id="phone_number" name="phone_number"/>
        </div>
        <div class="form-group">
            <label for="date_of_birth">Date of birth</label>
            <div class="dob-container">
                <input
                        maxlength="2"
                        type="text"
                        id="dob_day"
                        name="dob_day"
                        placeholder="DD"
                />

                <input
                        type="text"
                        id="dob_month"
                        name="dob_month"
                        placeholder="MM"
                        maxlength="2"
                />
                <input
                        type="text"
                        maxlength="4"
                        id="dob_year"
                        name="dob_year"
                        placeholder="YYYY"
                />
            </div>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" id="country" name="country"/>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" id="city" name="city"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
        </div>
        <div class="form-group">
            <label for="verify_password">Verify password</label>
            <input type="password" id="verify_password" name="verify_password"/>
        </div>
        <button type="submit">Sign up</button>
    </form>
</div>
{% endblock %}
