body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: 600px 600px;
    height: 100%;
    grid-gap: 20px;
    grid-column-gap: 200px;
    justify-content: center;
    position: relative;
    bottom: -3rem;
    align-items: center;
}

.left-section {
    display: grid;
    grid-template-columns: 600px;
    grid-auto-rows: minmax(150px, auto);
    align-items: center;
    justify-items: center;
    grid-gap: 40px;
}

.section {
    padding: 20px;
    background-color: #555;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#top-section {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;

}

#top-section img {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

#follow-button {
    width: 100px; /* Fixed width */
    background: linear-gradient(
            to bottom right,
            #45d49d,
            #34b68c
    ); /* Gradient background */
    border: 2px solid black;
    border-radius: 20px; /* Rounded corners */
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.2); /* Inner shadow for depth */
    color: black; /* Text color */
    font-weight: bold; /* Bold text */
    font-family: Arial, sans-serif; /* Font family */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No underline */
    display: inline-block;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s; /* Smooth transition */
    cursor: pointer; /* Pointer cursor */
}

#follow-button:hover {
    background: linear-gradient(
            to bottom,
            #37b986,
            #4ddf9e
    );
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.2);
}

#follow-button:active {
    transform: translateY(0);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(
            to bottom,
            #34b68c,
            #45d49d
    ); /* Active background */
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -0.5rem;
}

.name h1 {
    margin-bottom: 0;
    margin-top: 0;
}

#about {

    min-width: 550px;
    height: 173px;
    overflow-y: auto;
    overflow-x: hidden;
}

#about h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 0;
}

h1 {
    color: #45d49d;
}

#background img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.description {
    display: flex;
    align-items: center;
}

.description--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: -20px;
    bottom: -7px;
}

.description--text h1 {
    display: flex;
    justify-content: start;
    margin: 0;
    color: #ffffff;
}

.description--text h3 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0;
    color: #abadc7;
    font-weight: normal;
}

.description--text h5 {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    font-weight: normal;
}

.right-section {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: minmax(150px, 800px);
    grid-auto-rows: minmax(150px, auto);
    place-items: center;
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 400px;
    position: relative;
}

#links h1 {
    margin-top: 0;
    margin-bottom: 15px;
}

#projects {
    height: 550px;
    position: relative;
}

footer {
    height: 30px;
    width: 90%;
    position: relative;
    bottom: -7em;
}

.social img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.social {
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin-bottom: 0;
}

#projects h1 {
    margin: 0;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
}

/* Add transition for smooth scaling */
.project-box {
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.project-content {
    position: relative;
    background-size: cover;
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}

/* Scale up and add shadow on hover */
.project-box:hover .project-content {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Add transition for the overlay */
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: background 0.3s ease;
}

/* Make the overlay lighter on hover */
.project-box:hover .project-overlay {
    background: rgba(0, 0, 0, 0.4);
}

.project-title {
    position: relative;
    background: rgba(51, 51, 51, 0.8);
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    color: white;
}

#projects::-webkit-scrollbar {
    width: 18px;
}

#projects::-webkit-scrollbar-track {
    background: #555;
}

#projects::-webkit-scrollbar-thumb {
    background: linear-gradient(#10bd87, #8bd2b3);
    border: 3px solid #555;
    border-radius: 10px;
}

#projects::-webkit-scrollbar-button:start:increment {
    height: 2.5%;
}

#projects::-webkit-scrollbar-button:end:decrement {
    height: 2.5%;
}

#about::-webkit-scrollbar {
    width: 18px;
}

#about::-webkit-scrollbar-track {
    background: #555;
}

#about::-webkit-scrollbar-thumb {
    background: linear-gradient(#10bd87, #8bd2b3);
    border: 3px solid #555;
    border-radius: 10px;
}

#about::-webkit-scrollbar-button:start:increment {
    height: 10%;
}

#about::-webkit-scrollbar-button:end:decrement {
    height: 10%;
}

#follow-button.pressed {
    background: #abadc7;
    color: #333;
    border-color: #333;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
    transition: background 0.2s, color 0.2s, box-shadow 0.2s, transform 0.2s;
}

.follows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -1rem;
}

.follows h5 {
    text-decoration: none;
    font-weight: normal;
}

.social img {
    object-fit: cover;
    filter: brightness(1.2); /* Increase brightness by 20% */
    transition: filter 0.3s; /* Smooth transition for brightness change */
}

.social a:hover img {
    filter: brightness(1.3); /* Increase brightness further on hover */
}

.social a:hover {
    transform: scale(1.1);
}

.social a {
    height: 40px;
    width: 40px;
}

#background a:hover img {
    filter: brightness(1.3); /* Increase brightness further on hover */
}

#background a:hover {
    transform: scale(1.1);
}

.project-overlay img{
    width: 100%;
    object-fit: cover;
    filter: brightness(1.1);
    transition: filter 0.3s, transform 0.3s;
}

/* Media Queries */
@media (max-width: 850px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    #top-section {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        width: 80%;
    }

    #top-section img {
        width: 80px;
        height: 80px;
    }

    .left-section,
    .right-section {
        padding: 15px;
    }

    #background {
        width: 80%;
    }

    #about {
        min-width: 800px;
        width: 80%;
    }

    #projects {
        width: 80%;
        overflow-x: hidden;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(2, minmax(230px, 1fr));
        gap: 20px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    /* Adjust top section to be column and centered */
    #top-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        gap: 10px;
        width: 100%;
    }

    /* Ensure grid container padding is small */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        height: 1fr;
        /* grid-auto-rows: minmax(150px, auto); */
        grid-gap: 20px;
        grid-column-gap: 200px;
        justify-content: center;
        position: relative;
        bottom: -3rem;
        align-items: center;
    }

    /* Adjust section paddings */
    .left-section,
    .right-section {
        padding: 5px;
        width: 80%;
    }

    /* Ensure sections take full width */
    .section {
        padding: 10px;
        width: 80%;
        box-sizing: border-box;
    }

    /* Make profile image smaller */
    #top-section img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        left: 2.5%;
    }

    #top-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Adjust the name container */
    .name {
        width: 100%;
        position: relative;
        left: 2.5%;
    }

    .name h1 {
        font-size: 1.2em;
    }

    .name h3 {
        font-size: 0.9em;
    }

    /* Align follows section */
    .follows {
        margin-top: 10px;
        position: relative;
        left: 2.5%;
    }

    #follow-button {
        width: 80px;
        padding: 5px 10px;
        font-size: 12px;
    }

    /* Adjust social media icons */
    .social {
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        width: 50%;
        position: relative;
        left: 2.5%;
    }

    .social a img {
        width: 25px;
        height: 25px;
    }

    #links {
        width: 50%;
    }

    .right-section {
        width: 70%;
        position: relative;
        left: 14.5%;
        bottom: -1em;
    }

    /* Adjust project grid for smaller screens */
    .projects {
        grid-template-columns: 1fr;
        gap: 5px;
        width: 60%;
        margin: 0 auto;
    }

    .project-box {
        width: 100%;
        padding: 5px;
    }

    .project-content {
        height: auto;
        min-height: 60px;
    }

    /* Adjust description layout */
    .description {
        flex-direction: row;
        align-items: center;
        /* flex-wrap: wrap; */
    }

    .description--text {
        font-size: x-small;
    }

    .description--text {
        margin-top: 5px;
    }

    #background {
        width: 57%;
    }

    #background img {
        width: 40px;
        height: 40px;
    }

    /* Ensure no horizontal overflow */
    body,
    html {
        overflow-x: hidden;
    }
}