{% extends 'base.html' %}

{% block page_head %}
<title>Chat</title>
{%endblock%}

{% block main %}
<main>
    <div class="chat">
        <div class="user-container" id="user-container">
            <div class="profile-picture">
                <img id="user-picture" src="{{ user_picture }}" alt="profile picture">
            </div>
            <div class="name">
                <h1 id="user-name">{{ user_name }}</h1>
                <h3 id="user-role">{{ user_role }}</h3>
            </div>
            <div class="profile-link">
                <a href="{{ url_for('profile.view_profile', user_id=user_id) }}"><img src="https://static-00.iconduck.com/assets.00/profile-user-icon-2048x2048-m41rxkoe.png"
                                alt="User Profile"></a>
            </div>
        </div>


        <div class="chat-container">
            <div class="chat-header">chat with {{user_name}}</div>
            <div class="chat-messages" id="chat-messages">
                <!-- Messages will be displayed here -->
            </div>
            <div class="chat-input">
                <textarea id="message-input" placeholder="Type a message..."></textarea>
                <label for="file-input" class="custom-file-upload">
                    <img src="https://static.thenounproject.com/png/59103-200.png" alt="Upload Files Icon">
                </label>
                <input type="file" id="file-input" multiple>
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>

        <div class="chat-sidebar">
            <div class="chat-sidebar-header">
                Previous Chats!
            </div>
            <div class="chat-sidebar-user" data-user-id="1"
                 onclick="selectUser('Adi Cohen', 'Software Engineer', 'https://cdn-icons-png.flaticon.com/512/3135/3135823.png', 'profile.html')">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135823.png" alt="Adi Cohen">
                <div class="chat-sidebar-user-info">
                    <div class="chat-sidebar-user-name">Adi Cohen</div>
                </div>
            </div>
            <div class="chat-sidebar-user" data-user-id="2"
                 onclick="selectUser('Shalom Levi', 'Project Manager', 'https://cdn-icons-png.flaticon.com/512/3135/3135715.png', 'profile.html')">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Shalom Levi">
                <div class="chat-sidebar-user-info">
                    <div class="chat-sidebar-user-name">Shalom Levi</div>
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock%}
