
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.chat {
    display: flex;
    padding: 20px;

}

.chat-container {
    width: 60%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 500px;
}


.chat-header {
    background-color: #444444;
    color: #45d49d;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    word-wrap: break-word;
}

.message {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.message.user {
    justify-content: flex-end;
}

.message-content {
    min-width: 60px;
    padding: 10px 10px 25px 10px;
    border-radius: 10px;
    background-color: #dfdede;
    color: black;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 5px; /* Add margin between messages for spacing */
    display: inline-block; /* Ensure each message content is on its own line */
    position: relative;
}

.message-content a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #74d3af;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

.message-content img {
    max-width: 100%; /* Ensures the image does not exceed the width of the message content */
    max-height: 150px; /* Sets a maximum height for the images */
    object-fit: contain; /* Ensures the image retains its aspect ratio */
    margin-bottom: 5px; /* Adds space below the image */
    border: 1px solid #ccc; /* Optional: Adds a border to the image for better visibility */
    border-radius: 5px; /* Optional: Adds rounded corners to the image */
}


.message.user .message-content {
    background-color: #74d3af;
    color: black;
}


.chat-input {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
}

.chat-input textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    max-height: 150px;
}


.chat-input input[type="file"] {
    display: none; /* Hide the default file input */
}

.chat-input button {
    padding: 10px;
    border: 1px solid #b5b4b4;
    background-color: #45d49d;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #39aa7f;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;

}

.custom-file-upload img {
    width: 30px; /* Adjust the size of the icon as needed */
    height: 30px;
    margin-right: 5px; /* Add spacing between the icon and any text */
}

.custom-file-upload:hover {
    border-radius: 50%;
    background-color: #e4e4e4;
}

.user-container {
    width: 20%;
    background-color: #444444;
    color: white;
    border-radius: 8px;
    text-align: center;
    margin: 20px;
    padding: 50px 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile-picture img {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.profile-link {
    margin: 25px;
}

.profile-link img {
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.profile-link img {
    height: 50px;
}

.name h1 {
    color: #45d49d;
    margin-bottom: 2px;
    font-size: 25px;
}

.name h3 {
    font-size: 16px;
    font-weight: lighter;
}

.chat-sidebar {
    width: 20%;
    background-color: #444444;
    color: white;
    border-radius: 8px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.chat-sidebar-header {
    font-size: 18px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #45d49d;
    border-radius: 8px;
    margin-bottom: 10px;
}

.chat-sidebar-users {
    display: flex;
    flex-direction: column;
}

.chat-sidebar-user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-sidebar-user:hover {
    background-color: #555;
}

.chat-sidebar-user img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-sidebar-user-info {
    display: flex;
    flex-direction: column;
}

.chat-sidebar-user-name {
    font-size: 16px;
    font-weight: bold;
    color: #45d49d;
}

/* Scrollbar Styles */
.chat-messages::-webkit-scrollbar {
    width: 18px;
}

.chat-messages::-webkit-scrollbar-track {
    background: #dfdcdc;
}

.chat-messages::-webkit-scrollbar-thumb {
    background: linear-gradient(#10bd87, #8bd2b3);
    border: 1px solid #555;
    border-radius: 10px;
}

.message-content {
    /*padding-top: 10px;*/
    padding-bottom: 25px;
    border-radius: 10px;
    background-color: #dfdede;
    color: black;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 8px;
    display: inline-block;
    position: relative;
}

.message-timestamp {
    font-size: smaller;
    color: #605f5f;
    position: absolute;
    bottom: 0px;
    right: 8px;
}

.date-header {
    text-align: center;
    color: #888;
    font-size: 14px;
    margin: 10px 0;
}
