body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: left;
}

h1 {
  color: #00b894;
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.account-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
  position: relative;
  right: -1.7em;
}

.account-link a {
  color: #00b894;
  position: relative;
  left: -17.5em;
  text-decoration: none;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group label {
  width: 30%;
  text-align: center;
  font-size: 16px;
}

.form-group input[type="email"],
.form-group input[type="password"] {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #cccccc;
  font-size: 14px;
  width: 65%;
  box-sizing: border-box;
}

.form-group input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
  position: relative;
  left: -20em;
}

.form-group label[for="remember-me"] {
  width: auto;
}

button[type="submit"] {
  background-color: #00b894;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
  align-self: flex-end;
}

.email {
  position: relative;
  left: -0.95em;
}

.remember {
  position: relative;
  right: -1.5em;
}
