main {
    min-height: 600px;
}

.notifications {
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background-color: #222;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.notifications h1 {
    text-align: center;
    color: #37b486;
    margin-bottom: 30px;
}

.notification-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #979797;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #d6d6d6;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.notification {
    display: flex;
    align-items: center;
}

.notification img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.notification-text h3 {
    color: black;
    margin-top: 0;
    margin-bottom: 5px;
}

.notification-text p {
    margin: 0;
    color: #777;
}

footer {
    position: relative;
    bottom: -16em;
}
