.organization-profile {
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background-color: #222;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.profile-header img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
}

.profile-header h1 {
    color: #45d49d;
    margin: 0;
    width: 430px;
}

.profile-header h3 {
    font-size: small;
    margin: 5px 0 10px;
}

.organization-profile h2 {
    color: #45d49d;
    padding-top: 20px;
}

.organization-profile ul {
    list-style-type: none;
    padding: 0;
}

.organization-profile ul li {
    margin: 5px 0;
}

.follow-button {
    width: 100px;
    background: linear-gradient(to bottom right, #45d49d, #34b68c);
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 -2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.follow-button:hover {
    background: linear-gradient(to bottom, #37b986, #4ddf9e);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3), inset 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.follow-button.pressed {
    background: #abadc7;
    color: #333;
    border-color: #333;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
    transition: background 0.2s, color 0.2s, box-shadow 0.2s, transform 0.2s;
}

.social {
    display: flex;
    width: 250px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right: -200px;
    top: -20px;
}

.social img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    filter: brightness(1.2);
    transition: filter 0.3s;
}

.social a:hover img {
    filter: brightness(1.3);
}

.social a:hover {
    transform: scale(1.1);
}

.social a {
    height: 40px;
    width: 40px;
}

footer {
    position: relative;
    bottom: -3.5em;
}
