{% extends 'base.html' %}

{% block page_head %}
<title>Notifications</title>
{%endblock%}

{% block main %}
<main>
    <section class="notifications">

        <h1>Notifications</h1>
        <div class="notification-container">
            <div class="notification">
                <a href="profile.html">
                    <img src="https://cdn-icons-png.flaticon.com/512/2919/2919906.png" alt="Ben Cohen">
                </a>
                <div class="notification-text">
                    <h3>Ben Cohen followed you</h3>
                    <p>Followed you on 20/06/2024</p>
                </div>
            </div>
            <div class="notification">
                <a href="profile.html">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Shalom Levi">
                </a>
                <div class="notification-text">
                    <h3>Shalom Levi followed you</h3>
                    <p>Followed you on 17/06/2024</p>
                </div>
            </div>
            <div class="notification">
                <a href="profile.html">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135823.png" alt="Adi Cohen">
                </a>
                <div class="notification-text">
                    <h3>Adi Cohen followed you</h3>
                    <p>Followed you on 16/06/2024</p>
                </div>
            </div>

        </div>
    </section>
</main>
{%endblock%}
