{% extends 'base.html' %}

{% block page_head %}
<title>Home</title>
{%endblock%}

{% block main %}
<main>
    <div class="posts">
        <div class="post-box">
            <div class="post-input">
                <img
                        src="{{session.get('user')['profile_picture']}}"
                        alt="User Avatar"
                        class="avatar"
                />
                <textarea placeholder="What's on your mind, {{session.get('user')['first_name']}}?"></textarea>
            </div>
            <div class="post-options">
                <button class="action-btn to-post proj">
                    Upload a New Project
                    <i class="fi fi-rr-add-folder"></i>
                </button>
                <button class="action-btn to-post image-upload">
                    Upload Image/Video
                    <i class="fi fi-rr-add-image"></i>
                </button>
                <input type="file" id="fileInput" accept="image/*,video/*">
                <button class="option-btn" id="post-button">post</button>
            </div>
        </div>
        <div class="all-posts">
            <div class="post-box">
                <div class="post-header">
                    <img
                            src="https://cdn.mos.cms.futurecdn.net/3f8ff38c50a1ebb8045c180b7fce9b5b-1200-80.jpg"
                            alt="Profile Picture"
                            class="profile-pic"
                    />
                    <div class="post-info">
                        <a href="profile.html">
                            <div class="user-name">Steve Jobs</div>
                        </a>
                        <div class="post-time">2 days ago</div>
                    </div>
                </div>
                <div class="post-content">
                    <p>
                        Worked alongside <a href="profile.html">Bill Gates</a> to create this amazing
                        app
                    </p>
                    <a href="project.html">
                        <div class="project-box">
                            <div class="project-content">
                                <div class="project-overlay"></div>
                                <div class="project-title">Give me your money</div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="post-footer">
                    <div class="reaction-bar">
                        <span class="like">👍 5.1K</span>
                        <span class="comments">804 Comments</span>
                        <span class="shares">409 Shares</span>
                    </div>
                    <div class="action-buttons">
                        <button class="action-btn like">
                            <div class="action-Type">Like</div>
                            <i class="fi fi-rr-social-network"></i>
                        </button>
                        <button class="action-btn comment">
                            <div class="action-Type">Comment</div>

                            <i class="fi fi-rr-comment-alt"></i>
                        </button>
                        <button class="action-btn share">
                            <div class="action-Type">Share</div>
                            <i class="fi fi-rr-share-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal hidden">
        <button class="close-modal">&times;</button>
        <div class="modal-content">
            <h1>I'm a modal window for likes</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
            </p>
        </div>
    </div>


    <div class="overlay hidden"></div>
</main>
{%endblock%}
